---
---

<section class="mb-8">
  <div class="mb-4 flex justify-center">
    <img
      src="/images/profile_img.png"
      width="300px"
      alt="Profile picture of Nick"
    />
  </div>
  <p class="text-4xl pb-4">Hi! I'm Nick!</p>
  <div>
    <p class="mb-5">
      Welcome! I have a deep appreciation for the intersection of design,
      engineering, human-computer interaction, and healthcare. Here, I explore what it means
      to be a UX Engineer and researcher, and how we can leverage the blooming
      disciplines of human-centered design and HCI to positively impact the
      rapidly-changing digital world around us.
    </p>
    <p class="mb-5">
      I am currently a working as a UX Engineer at Charles River Analytics, where I tackle design challenges in the healthcare and HCI space. 
      I am also a Master's Student at Georgia Tech, pursuing research in the <a href="https://dilab.gatech.edu" target="_blank">Design Research Lab</a> led by <a href="https://dilab.gatech.edu/ashok-k-goel/" target="_blank">Dr. Ashok Goel</a>.
    </p>
    <p class="mb-5">
      Come along with me as I explore this emerging space, build projects, read
      influential research, and expand the educational potential of design and
      engineering cohesiveness.
    </p>
    <p class="text-center whitespace-nowrap overflow-auto">
      <!-- <code class="py-1 px-2">npx create-blogster@latest --theme sleek</code> -->
    </p>
    <p class="mb-5">
      In my free time, I enjoy running, watching sports, exploring the city,
      traveling, and learning new skills.
    </p>
  </div>
  <div>
    <p class="text-3xl mb-5">Contact Me!</p>
    <p class="mb-2">
      Email: <a href="mailto:nalico3@gatech.edu">nalico3@gatech.edu</a>
    </p>
    <p class="mb-2">
      Bluesky: <a href="https://bsky.app/profile/nickalico.me">@nickalico</a>
    </p>
    <p class="mb-2">
      LinkedIn: <a href="https://www.linkedin.com/in/nickalico/">@nickalico</a>
    </p>
    <p class="mb-2">
      Twitter: <a href="https://www.twitter.com/nickalico">@nickalico</a>
    </p>
  </div>
</section>
