---
import HeaderLink from "./HeaderLink.astro";
import DarkModeToggle from "./DarkModeToggle.astro";
---

<header>
  <a
    class="unset absolute z-10 left-[50%] -top-[100rem] translate-x-[-50%] bg-white text-black px-8 py-2 focus:top-[initial]"
    href="#main"
  >
    Skip to content
  </a>
  <nav>
    <section class="text-text-bold">
      <ul class="unset flex gap-4 [&>li]:p-0">
        <li><HeaderLink href="/">Home</HeaderLink></li>
        <li><HeaderLink href="/blog">Blog</HeaderLink></li>
        <li><HeaderLink href="/projects">Projects</HeaderLink></li>
        <li><HeaderLink href="/about">About</HeaderLink></li>
      </ul>
    </section>
  </nav>
  <div
    class="max-[450px]:hidden justify-self-end py-2 flex items-center content-center text-text-bold"
  >
    <a
      class="unset text-xl ml-4 hover:text-text-link"
      href="https://github.com/nro337"
    >
      <i class="fa-brands fa-github" aria-hidden="true" title="GitHub"></i>
      <span class="fa-sr-only">Blogster on GitHub</span>
    </a>
    <a
      class="unset text-xl ml-4 hover:text-text-link"
      href="https://twitter.com/nickalico"
    >
      <i class="fa-brands fa-twitter" aria-hidden="true" title="Nick's Twitter"
      ></i>
      <span class="fa-sr-only">Nick's Twitter</span>
    </a>
    <a
      class="unset text-xl ml-4 hover:text-text-link"
      href="https://www.linkedin.com/in/nickalico/"
    >
      <i
        class="fa-brands fa-linkedin"
        aria-hidden="true"
        title="Nick's LinkedIn"></i>
      <span class="fa-sr-only">Nick's LinkedIn</span>
    </a>
    <a
      class="unset text-xl ml-4 hover:text-text-link"
      href="https://hci.social/@alico"
      rel="me"
    >
      <i
        class="fab fa-mastodon"
        aria-hidden="true"
        title="Nick's Mastodon"></i>
      <span class="fa-sr-only">Nick's Mastodon</span>
    </a>
    <a
      class="unset text-xl ml-4 hover:text-text-link"
      href="https://bsky.app/profile/nickalico.me"
      rel="me"
    >
      <!-- src: https://github.com/reactjs/react.dev/pull/7273/files#diff-2a2cd1638bf48008bde199a07d7c50ef698bd6f741a1fb786879ef8c6f0b4ca7 -->
      <svg
      aria-label="Bluesky"
      viewBox="0 0 16 16"
      height="1em"
      width="1em"
      fill="currentColor"
      xmlns="http://www.w3.org/2000/svg"
      >
      <path
        class="x19hqcy"
        d="M3.468 1.948C5.303 3.325 7.276 6.118 8 7.616c.725-1.498 2.697-4.29 4.532-5.668C13.855.955 16 .186 16 2.632c0 .489-.28 4.105-.444 4.692-.572 2.04-2.653 2.561-4.504 2.246 3.236.551 4.06 2.375 2.281 4.2-3.376 3.464-4.852-.87-5.23-1.98-.07-.204-.103-.3-.103-.218 0-.081-.033.014-.102.218-.379 1.11-1.855 5.444-5.231 1.98-1.778-1.825-.955-3.65 2.28-4.2-1.85.315-3.932-.205-4.503-2.246C.28 6.737 0 3.12 0 2.632 0 .186 2.145.955 3.468 1.948Z"></path>
    </svg>
    <span class="fa-sr-only">Nick's Bluesky</span>
    </a>
    <!-- <a rel="me" href="https://hci.social/@alico">Mastodon</a> -->
  </div>
  <DarkModeToggle />
</header>
<style>
  header {
    grid-area: header;
    display: grid;
    align-items: center;
    grid-template-columns: minmax(0, 1fr) minmax(0, max-content) minmax(
        0,
        max-content
      );
  }
</style>
