---
---

<div>
  <h1 class="mt-5 mb-5 text-xl">Experience</h1>
  <ul class="mt-5">
    <li>
      <strong>UX Engineer</strong> - <a href="https://cra.com" target="_blank"
        >Charles River Analytics</a
      > - Sept 2022 - Present
    </li>
    <li>
      <strong>Software Engineer</strong> - <a
        href="https://iterativehealth.com"
        target="_blank">Iterative Health</a
      > - Jan - Aug 2022
    </li>
    <li>
      Undergrad interships: Oracle, GE HealthCare, Rockwell Automation, &
      Bucknell University
    </li>
  </ul>
  <h1 class="mt-5 mb-5 text-xl">Publications & Research</h1>
  <ul class="mt-5">
    <li>
      Joint, Adaptive, Robust Visualization & Interaction System (<a
        href="https://cra.com/projects/jarvis/"
        target="_blank">JARVIS</a
      >) - HCI International [<i class="text-green-500">Accepted!</i> - Release Summer
      2024]
    </li>
  </ul>
  <ul class="mt-5">
    <li>
      <a
        href="https://honors.libraries.psu.edu/files/final_submissions/7812"
        target="_blank"
        >Development of an Application to Support Competency-based Education in
        Human-Centered Design</a
      > - Undergraduate Honors Thesis
    </li>
  </ul>
  <h1 class="mt-5 mb-5 text-xl">Education</h1>
  <ul class="mt-5">
    <li>
      <strong>M.S. Computer Science</strong> - <a
        href="https://catalog.gatech.edu/programs/computer-science-ms/"
        target="_blank">Georgia Tech</a
      >
      <ul>
        <li>Anticipated: 2026</li>
        <li>ML Specialization</li>
      </ul>
    </li>
    <li>
      <strong>Graduate Certificate in Bioinformatics</strong> - <a
        href="https://extension.harvard.edu/"
        target="_blank">Harvard Extension School</a
      >
      <ul>
        <li>Anticipated: 2025</li>
        <li>Courses: Wearables & Computer Vision, Epidemiology and Biostatistics</li>
      </ul>
    </li>
    <li>
      <strong>B.S. Human-Centered Design & Development</strong> - <a
        href="https://ist.psu.edu/prospective/undergraduate/academics/hcdd"
        target="_blank">Penn State University - IST & Schreyer Honors College</a
      >
      <ul>
        <li>Schreyer Honors Scholar</li>
        <li>
          User Experience Professionals Association PSU - Co-founder & <a
            href="https://www.psu.edu/news/academics/story/ist-student-organization-aids-mobile-design-campus-dining-app/"
            target="_blank">PM</a
          >
        </li>
        <li>
          College of IST Student <a
            href="https://ist.psu.edu/current/undergraduate/engagement/diplomats"
            target="_blank">Ambassador</a>
        </li>
        <li>
          Undergraduate Research <a
            href="https://urfm.psu.edu/programs/undergraduate-research-ambassadors#paragraphs-id-172"
            target="_blank">Ambassador</a>
        </li>
      </ul>
    </li>
  </ul>
  <h1 class="mt-5 mb-5 text-xl">Talks</h1>
  <ul class="mt-5">
    <li>
      <strong>UXPA Penn State Chapter</strong> - <a
        href="https://orgcentral.psu.edu/organization/uxpa"
        target="_blank">UXPA PSU</a
      >
      <ul>
        <li>UXPA Alumni Talk (April 2024)</li>
      </ul>
    </li>
  </ul>
</div>
