---

---

<div>
  <h1 class="mt-5 mb-5 text-xl">Experience</h1>
  <ul class="mt-5">
    <li>
     <strong>UX Engineer</strong> - <a href="https://cra.com" target="_blank">Charles River Analytics</a> - Sept 2022 - Present
    </li>
    <li>
      <strong>Software Engineer</strong> - <a href="https://iterativehealth.com" target="_blank">Iterative Health</a> - Jan - Aug 2022
    </li>
    <li>Undergrad interships: Oracle, GE HealthCare, Rockwell Automation, & Bucknell University</li>
  </ul>
  <h1 class="mt-5 mb-5 text-xl">Education</h1>
  <ul class="mt-5">
    <li>
     <strong>SWE Masters Courses</strong> - <a href="https://extension.harvard.edu/" target="_blank">Harvard Extension School</a>
      <ul>
        <li>Wearables & Computer Vision - DGMD S-14</li>
      </ul>
    </li>
    <li>
      <strong>B.S. Human-Centered Design & Development</strong> - <a href="https://ist.psu.edu/prospective/undergraduate/academics/hcdd" target="_blank">Penn State University - IST & Schreyer Honors College</a>
        <ul>
          <li>Schreyer Honors Scholar</li>
          <li>User Experience Professionals Association PSU - Co-founder & PM</li>
          <li>College of IST Student Ambassador</li>
          <li>Undergraduate Research Ambassador</li>
        </ul>
    </li>
  </ul>
  <h1 class="mt-5 mb-5 text-xl">Academic Writing</h1>
  <ul class="mt-5">
    <li>
      <a href="https://honors.libraries.psu.edu/files/final_submissions/7812" target="_blank">Development of an Application to Support Competency-based Education in Human-Centered Design</a> - Undergraduate Honors Thesis
    </li>
  </ul>

</div>